<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>EletricData</Name>
    <Version>1.0.0</Version>
    <Title>Menu de Instalação do EletricData</Title>
    <Publisher>João Ramos</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>EletricData</StartMenuDir>
    <TargetDir>C:/EletricData</TargetDir>
    <Translations>
        <Translation>qt_pt_BR.qm</Translation>
    </Translations>
</Installer>
